* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: darkseagreen;
  padding: 50px;
  text-align: center;
}

.input-part,
.buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.input-part input[type="number"] {
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 70px;
  text-align: right;
}

.input-part ::placeholder {
  color: #e6e6fa;
}

.buttons {
  width: 40%;
  height: 150px;
  margin: 50px auto;
  justify-content: space-around;
}

.buttons input {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 40px;
}
